@mixin extraInfo {
  display: block;
  padding-bottom: 1.8em; 
  color: var(--neutral-05);  
}

@mixin btnNavigatorToggle {
  text-align: left;
  background: none;
  border: none;
}

@mixin offGrid {
  position: absolute;
  left: 0;
  @media (--small) {
    top: 16px; 
  }    
  width: 100%;
  height: 100%;
  padding-left: var(--parent-spacing);
}

@mixin flex {
  display: flex;
}

@mixin hamBurgerMenu($top: 0px, $bottom: false) {
  content: '';
  position: absolute;
  @if $bottom {
    bottom: 0;
  } @else {
    top: $top;
  }  
  width: inherit;
  height: 2px;
  border-radius: 5px;
  background: var(--black);
}