@mixin extraInfo {
  display: block;
  padding-bottom: 1.8em; 
  color: var(--neutral-05);  
}

@mixin btnNavigatorToggle {
  text-align: left;
  background: none;
  border: none;
}

@mixin iconTransitions {
  transition: all 300ms ease-in;
}