:root {
  --font-size-default: 18px;
  --font-serif: 'Merriweather', georgia, serif;
  --font-sans-serif: 'Source Sans Pro', arial, sans-serif;
  --font-monospace: 'Source Code Pro', monospace;  
  --font-awesome: 'FontAwesome';  
  --neutral-04: #bcbcbc;
  --accent-01: #457205;
  --neutral-06: #2b2b2b;
  --brand-02: #0d6fb4;
  --neutral-01: #ffffff;
  --neutral-05: #6a6a6a;
  --brand-01: #009cde;
  --black: #2b2b2b;
  box-sizing: border-box;

  @media (--small) {
    --font-size-default: 16px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);  
  font-size: var(--font-size-default);
}

/* Skip Link */
.skip_lnk {
  position: absolute;
  padding: 0.2rem 0.7rem;
  color: #fff;
  background-color: #3B2D4A;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  z-index: 10;
  transform: translate3d(.125rem, -5rem, 0);
  transition: transform .3s ease-out;

  &:focus {
    transform: translate3d(.125rem, .125rem, 0);
    outline: #fff solid .125rem;
  }
}

/* Primary Navigation */
header {
  margin: 0.8em 0;
}

header nav ul {
  display: flex;
  flex-direction: row;  
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;  

  li {
    display: inline-block;
    padding: 0 0.8em;

    @media (--small) {      
      padding-left: 0;
    }

    &:not(:first-child) {
      @media (--small) {
        display: none;
      }
    }

    a {
      display: block;
      text-decoration: none;
      color: var(--black);
    }  
  }
}

button {
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-default);

  &.showLessonNavigator {
    @include btnNavigatorToggle;
    display: none;      
    color: var(--brand-02);

    @media (--small) {
      display: block;
      grid-column: span 12;
    }
  }

  &.hideLessonNavigator {
    position: relative;
    @include btnNavigatorToggle;
    margin-bottom: 16px;   
    padding-left: 22px; 
    color: var(--brand-02);      
    cursor: pointer;

    &::before{
      position: absolute;
      font-family: var(--font-awesome);
      content: '\f104 \f104';
      padding-left: 4px;      
      left: 0;
      top: 2px;
      @include iconTransitions;
    }

    &:hover {
       &::before{
         padding-left: 0px;
       }
    }
  }
}

/** Breadcrumb Styles */
nav.breadcrumb {
  ul {
    display: flex;

    @media (--small) {
      flex-direction: column;
    }

    li {
      padding-right: 8px;

      @media (--small) {
        padding-bottom: 4px;
      }

      &::after {
        content: '>';
      }

      &:last-child {
        &::after {
          content: '';
        }
      }

      a {
        color: var(--black);
        padding-right: 8px;
      }
    }
  }
}

/*Lesson Navigator*/
aside {
  grid-column: span 3;

  @media (--small) {
    position: absolute;
    left: 16px;
    top: 0;    
    height: 100%;
    transform: translateX(-110%);
    transition: all 0.5s ease-in;
    background-color: white;


  }

  &.hide{
    transform: translateX(-110%);
    transition: all 0.5s ease-out;
  }

  &.show{
    transform: translateX(0);
    transition: all 0.5s ease-out;
  }

  @media (--x-large) {
    position: absolute;
    left: 16px;
    width: 232px;
  }

  h2 {
    margin: 0 0 8px;
    font-size: 28.1px;
    font-weight: bold;    
    line-height: 1.2;
    letter-spacing: -0.25px;
    color: var(--black);
  }

  ul {
    /** CSS Counter feature used for listing number*/
    counter-reset: listCounter -1;
    
    > li {
      position: relative;
      counter-increment: listCounter;
      display: grid;
      grid-template-columns: 18px 1fr;
      padding-bottom: 25px;
      line-height: 1.2;

      /* circle icon status styles */
      &.optional {
        &::before {
          border-style: dashed;
        }
      }

      &.active {
        &::before {
          border-color: var(--black);
        }
      }


      &.attempted {
        &::before {
          border-color: var(--neutral-06);
        }
      }

      &.completed {
        &::before {
          border-color: var(--accent-01);
          background-color: var(--accent-01);
          background-image: svg-load("../../dist/img/icons-circle-tick.svg");          
        }
      }
      
      /** pseudo-selectors styles start */
      &:before{
        display: block;
        content: '';        
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid var(--neutral-04);
        background-color: white;
        cursor: pointer;
        z-index: 90;
      }

      &::after {
        content: "";
        position: absolute;
        left: 8px;
        top: 18px;
        width: 2px;
        height: 100%;        
        background-color: var(--neutral-04);
        z-index: 0;
      }

      /** Reset connector styles for last children*/
      &:last-child {
        &::after {
          background-color: transparent;
        }
        ul {
          &:last-child {
            &::after{
              border-color: transparent;
            }
          }
          li {
            &:last-child {
              &::after{
                border-color: transparent;
              }
            }            
          }          
        }
      }
      /** pseudo-selectors styles end */

      &.active {       
        &::after {
          background-color: transparent;
        }

        h3 {
          &::before { 
            position: absolute; 
            content: '';        
            left: -9px;
            top: 0px; /** reset from top 0*/
            width: 6px;
            height: 107%;
            border: 2px solid; 
            border-radius: 0 0 0 7px;
            border-top: none;
            border-right: none;
            border-color: var(--neutral-04);
            background-color: white;
          }
          button {
            font-weight: 700;
          }          
        }
      }
      
      h3 {
        padding-left: 5px;
        position: relative;

        button {
          border: none;
          background: none;
          text-align: left;
          padding: 0;
          line-height: 1.2;

          &:before {
            padding-right: 5px;
            content: counter(listCounter) '. ';
          }

          

          &::after{
            font-family: var(--font-awesome);
            content: '\f107';
            position: absolute;
            right: 0;
            top: 0;
            font-weight: normal;
          }

          &[aria-expanded=true] {
             &::after{
              content: '\f106';
             }
          }
        }
      }

      /* Sub Lessons Styles*/
      ul {
        position: relative;
        grid-column: span 2;
        padding-left: 8px;
        padding-top: 17px;
        counter-reset: subListCounter 0;

        &::before{
          content: "";
          position: absolute;
          left: 11px;
          top: 0px;
          width: 8px;
          height: 18px; /** Fixed height for curved connector */
          border: 2px solid; 
          border-radius: 0 6px 0 0;
          border-left: none;
          border-bottom: none;
          border-color: var(--neutral-04);
          background-color: white;
          z-index: 0;
        }

         &::after{
          content: "";
          position: absolute;
          left: 8px;
          bottom: -26px;
          width: 8px;
          height: 36px; /** Fixed height for curved connector */
          border: 2px solid; 
          border-radius: 6px 0 0 0;
          border-right: none;
          border-bottom: none;
          border-color: var(--neutral-04);
          background-color: white;
          z-index: 0;
        }

        li {
          position: relative;          
          counter-increment: subListCounter;

          &:last-child {
            padding-bottom: 0;

            &::after{
              content: "";
              position: absolute;
              left: 2px;
              bottom: -18px;
              width: 8px;
              height: 41%; 
              border: 2px solid; 
              border-radius: 0 0 6px 0;
              border-left: none;
              border-top: none;
              border-color: var(--neutral-04);
              background-color: white;
              z-index: 0;
            }
          }

          &.active {
            &::after{
              content: "";
              position: absolute;
              left: 8px;
              top: 18px;
              width: 2px;
              height: 100%;        
              background-color: var(--neutral-04);
              z-index: 0;
            }
            h4 {
              font-weight: 700;
            }
          }

          h4 {
            padding-left: 5px;
            font-weight: 400;
            font-size: var(--font-size-default);

            &::before{
              content: counter(listCounter) '.' counter(subListCounter) '. ';
            }

            a {
              color: var(--black);
              text-decoration: none;
            }
          }
        }        
      }
    }
  }
}


/* Content Styles*/
.mainWrapper {
  position: relative;
  background-color: #f9f9f9;
  padding-top: 64px;
  box-shadow: 0 8px 16px 0 rgba(106, 106, 106, 0.1);
}

.content {
  grid-column: span 9;

  @media (--small) {
    grid-column: span 12;
  }

  @media (--x-large) {
    padding-left: 152px;
    grid-column: span 12;
  }

  @media (--xx-large) {
    padding-left: 0px;
  }

  &Wrapper {
    h1 {
      font-size: 2.8em;
      line-height: 1.2em;
      font-weight: 700;
      padding: 8px 0 3px 0;
    }

    h2{
      font-size: 2.5em;
      font-weight: 700;
      padding-top: 0.8em;
      padding-bottom: 0.4em;
    }

    small {
      @include extraInfo;
    }

    h3, p, ul, ol {
      font-family: var(--font-serif);
      line-height: 32px;
    }

    ol {
      padding-top: 0.7em;
      padding-bottom: 2em;
      counter-reset: contentListCounter 0;     

      li {
        display: flex;
        padding-left: 0.2em;
        counter-increment: contentListCounter;

        &::before {
          content: counter(contentListCounter) '.';
          padding-right: 0.4em;
        }
      }
    }
  }

  /* Quiz Styles*/
  .quiz {
    &Question {
      padding-bottom: 4em;

      h3 {
        font-size: 1.5em;
        font-weight: 700;
        padding-bottom: 0.8em;
      }

      &Header {
        &--title {
          font-family: var(--font-serif);
          padding-bottom: 0.4em;
        }

        small {
          @include extraInfo;
        }
      }

      button {
        margin-top: 0.8em;
        padding: 12px 24px;
        border-radius: 8px;
        border: solid 1px var(--neutral-04);
        background-color: #ececec;
        cursor: pointer;

        &:not([disabled]) {
          background-color: var(--brand-01);
          color: var(--neutral-01);
          box-shadow: 0 2px 8px 0 rgba(0, 123, 171, 0.5);
        }

        &.submitted {
          background-color: var(--accent-01);
          box-shadow: 0 2px 8px 0 rgba(var(--accent-01), 0.5);
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--neutral-04);
    padding: 0.8em 0 2.4em 0;

    a {
      display: block;
      padding: 0.75em 1.6em;
      border-radius: 8px;
      border: solid 1px var(--black);
      color: var(--black);
      text-decoration: none;
    }

  }
  
}

/* Footer Styles*/
footer {
  background-color: var(--black);

  ul {
    li {
      padding: 8px 0;
      a {
        font-size: 0.8em;
        text-decoration: none;
        color: #ececee;
      }
    }
  }
}