/* ##############################################*/
/* ########### Main CSS File ####################*/
/* ########### Author: Navdeep Singh ############*/
/* ##############################################*/
:root {
  --font-size-default: 18px;
  --font-serif: 'Merriweather', georgia, serif;
  --font-sans-serif: 'Source Sans Pro', arial, sans-serif;
  --font-monospace: 'Source Code Pro', monospace;  
  --font-awesome: 'FontAwesome';  

  --neutral-04: #bcbcbc;
  --accent-01: #457205;
  --neutral-06: #2b2b2b;
  --brand-02: #0d6fb4;
  --neutral-01: #ffffff;
  --neutral-05: #6a6a6a;
  --brand-01: #009cde;
  --black: #2b2b2b;
  --grey: #f9f9f9;

  --main-content-padding-top: 64px;  
  --parent-spacing: 16px;
  --line-height: 1.2;
  --offgrid-navigator-width: 232px;

  --connector-circle-size: 18px; 
  --connector-bottom-padding: 25px;
  --connector-curve-box-width: 8px;
  --connector-top-left-curve-height: 107%;
  --connector-bottom-right-curve-height: 106%;

  --icon-transition: all 300ms ease-in;
  --menu-transition: all 300ms ease-out;

  --header-box-shadow: 0 8px 16px 0 hsla(0,0%,42%,.1);
  --button-box-shadow: 0 2px 8px 0 rgba(0, 123, 171, 0.5);
  --button-submitted-box-shadow: 0 2px 8px 0 rgba(var(--accent-01), 0.5);

  box-sizing: border-box;

  @media (--small) {
    --font-size-default: 16px;
    --main-content-padding-top: 76px;
    --connector-top-left-curve-height: 121%;
    --connector-bottom-right-curve-height: 110%;    
  }

  @media (--medium) {
    --connector-bottom-right-curve-height: 103%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);  
  font-size: var(--font-size-default);
}
/* ###########################################*/
/* ###########Header Styles Start ############*/
/* ###########################################*/
header {
  box-shadow: var(--header-box-shadow);

  .headerWrapper {
    @include flex;
    padding: 0.4em 0;

    @media (--small) {
      display: grid;
      grid-template-columns: 2fr 10fr;
    }
    
    /* Hamburger Menu Styles*/
    .hamBurgerMenu {
      display: none;

      @media (--small) {
        @include flex;
        justify-content: center;
        align-items: center;      
      }

      a {
        display: block;
        position: relative;
        width: 20px;
        height: 18px;
        margin: 1.2em; 
        transition: var(--icon-transition);

        span{   
          will-change: opacity;
          $top: calc((18px / 2) - 1px);
          @include hamBurgerMenu($top);
          text-indent: -99999px;                   
        }    
        
        &::before {
          will-change: transform;       
          @include hamBurgerMenu;
        }

        &::after {
          will-change: transform;       
          @include hamBurgerMenu(0, true);
        }

        /* Show cross when menu opened */
        &[aria-expanded=true] {
          span{
            opacity: 0;
          }
          &::before {
            transform: rotate(53deg);
            transform-origin: 0px;
          }  
          &::after {
            transform: rotate(-53deg);
            transform-origin: 0px;
          }          
        }
      }
    }

    nav {
      @media (--small) { 
        display: none;            

        &.show {
          display: block;
        }      

        grid-column: span 2;
      }

      ul {
        @include flex;
        flex-direction: row;  
        align-items: center;
        height: 100%;

        @media (--small) { 
          flex-direction: column;
          height: auto;
        }

        li {
          display: inline-block;
          padding-left: 32px;

          @media (--small) { 
            width: 100%;
            text-align: center;
            padding: 0.1em;
          }

          a {
            display: block;
            position: relative;
            padding: 0.3em 0;
            text-decoration: none;
            color: var(--black); 

            &:after{
              content: '';
              position: absolute;
              left: calc(100% / 2);
              bottom: 0;
              height: 2px;
              width: 0;
              background-color: var(--brand-02);
              transition: var(--menu-transition);
            }

            &:hover {
              color: var(--brand-01);

              &::after {
                left: 0;
                width: 100%;
              }
            }
          }  
        }
      }
    }
  }  
}
/*############# Header Styles End #############*/

/* ###########################################*/
/* ########### Buttons Styles Start ############*/
/* ###########################################*/
button {
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-default);
  border: none;  
  background: none;
  cursor: pointer;

  &.showLessonNavigator {
    display: none;
    position: absolute;
    top: calc((var(--main-content-padding-top) / 2) - 11px);
    left: var(--parent-spacing);
    @include btnNavigatorToggle;      
    padding-left: 18px; 
    color: var(--brand-02);
    transition: var(--icon-transition);

    &.show{
      display: block;
    }

    @media (--small) {
      display: block;
      grid-column: span 12;
    }

    &::before{
      position: absolute;
      font-family: var(--font-awesome);
      content: '\f105\f105';
      padding-left: 0px;      
      left: 0;
      top: 2px;
      transition: var(--icon-transition);
    }

    &:hover {
       &::before{
         padding-left: 4px;
       }
    }
  }

  &.hideLessonNavigator {
    position: relative;
    @include btnNavigatorToggle;
    margin-bottom: 16px;   
    padding-left: 22px; 
    color: var(--brand-02);      
    cursor: pointer;

    &::before{
      position: absolute;
      font-family: var(--font-awesome);
      content: '\f104\f104';
      padding-left: 4px;      
      left: 0;
      top: 2px;
      transition: var(--icon-transition);
    }

    &:hover {
       &::before{
         padding-left: 0px;
       }
    }
  }
}
/*############# Button Styles End #############*/

/* ###########################################*/
/* ###### Breadcrumb Styles Start ############*/
/* ###########################################*/
nav.breadcrumb {
  ul {
    @include flex;

    @media (--small) {
      flex-direction: column;
    }

    li {
      padding-right: 8px;

      @media (--small) {
        padding-bottom: 0.5em;
      }

      &::after {
        font-family: var(--font-awesome);
        content: '\f105';        
      }

      &:last-child {
        &::after {
          content: '';
        }
      }

      a {
        color: var(--black);
        padding-right: 8px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
/*############# Breadcrumb Styles End #############*/

/* #################################################*/
/* ###### Lesson Navigator Styles Start ############*/
/* #################################################*/
aside {
  grid-column: span 3;

  @media (--small) {
    @include offGrid; 
    transform: translateX(-120%);
    transition: all 0.5s ease-in;
    background-color: var(--grey);
  }

  &.hide{
    transform: translateX(-150%);
    transition: all 0.5s ease-out;
  }

  &.show{
    transform: translateX(0);
    transition: all 0.5s ease-out;
  }

  @media (--x-large) {
    @include offGrid; 
    width: calc(var(--offgrid-navigator-width) + var(--parent-spacing) );
    padding-top: var(--main-content-padding-top);
  }

  h2 {
    margin: 0 0 8px;
    font-size: 28.1px;
    font-weight: bold;    
    line-height: var(--line-height);
    letter-spacing: -0.25px;
    color: var(--black);
  }

  ul {
    /** CSS Counter feature used for listing number*/
    counter-reset: listCounter -1;
    
    > li {
      position: relative;
      counter-increment: listCounter;
      display: grid;
      grid-template-columns: var(--connector-circle-size) 1fr;
      padding-right: 0.8em;
      padding-bottom: 25px;
      line-height: var(--line-height);

      /* Circle connector status styles */
      &.optional {
        &::before {
          border-style: dashed;
        }
      }

      &.active {
        &::before {
          border-color: var(--black);
        }
      }

      &.attempted {
        &::before {
          border-color: var(--neutral-06);
        }
      }

      &.completed {
        &::before {
          border-color: var(--accent-01);
          background-color: var(--accent-01);
          font-family: var(--font-awesome);
          content: '\f00c';
          color: white;
          font-size: 0.5em;
          padding-top: 3px;
        }
      }
      
      /** pseudo-selectors styles start */
      &:before{
        display: block;
        content: '';        
        width: var(--connector-circle-size);
        height: var(--connector-circle-size);
        border-radius: 50%;
        border: 2px solid var(--neutral-04);
        background-color: var(--grey);
        padding-top: 0.2em;
        text-align: center;
        cursor: pointer;
        z-index: 90;
      }

      &::after {
        content: "";
        position: absolute;
        left: 8px;
        top: 18px;
        width: 2px;
        height: 100%;        
        background-color: var(--neutral-04);
        z-index: 0;
      }

      /** Reset connector styles for last children*/
      &:last-child {
        &::after {
          background-color: transparent;
        }
        ul {
          &:last-child {
            &::after{
              border-color: transparent;
            }
          }
          li {
            &:last-child {
              &::after{
                border-color: transparent;
              }
            }            
          }          
        }
      }
      /** pseudo-selectors styles end */

      &.active {       
        &::after {
          background-color: transparent;
        }

        h3 {
          &::before { 
            position: absolute; 
            content: '';        
            left: -9px;
            top: 0px; /** reset from top 0*/
            width: var(--connector-curve-box-width);
            height: var(--connector-top-left-curve-height);
            border: 2px solid; 
            border-radius: 0 0 0 7px;
            border-top: none;
            border-right: none;
            border-color: var(--neutral-04);
            background-color: var(--grey);
          }
          button {
            font-weight: 700;
          }          
        }
      }
      
      h3 {
        padding-left: 5px;
        position: relative;

        button {          
          text-align: left;          
          line-height: var(--line-height);
          padding-right: 0.8em;

          &:before {
            padding-right: 5px;
            content: counter(listCounter) '. ';
          }

          &::after{
            position: absolute;
            right: 0;
            top: 0;
            font-family: var(--font-awesome);
            content: '\f107';                        
            font-weight: normal;
          }

          &[aria-expanded=true] {
             &::after{
              content: '\f106';
             }
          }
        }
      }

      /* Sub Lessons Styles*/
      ul {
        position: relative;
        grid-column: span 2;
        padding-left: 8px;
        padding-top: 17px;
        counter-reset: subListCounter 0;

        &::before{
          content: "";
          position: absolute;
          left: 11px;
          top: 0px;
          width: 8px;
          height: 18px; /** Fixed height for curved connector */
          border: 2px solid; 
          border-radius: 0 6px 0 0;
          border-left: none;
          border-bottom: none;
          border-color: var(--neutral-04);
          background-color: var(--grey);
          z-index: 0;
        }

         &::after{
          content: "";
          position: absolute;
          left: var(--connector-curve-box-width);
          bottom: calc(-1 * (var(--connector-circle-size) + var(--connector-bottom-padding)));
          width: var(--connector-curve-box-width);
          height: calc(var(--connector-circle-size) + var(--connector-bottom-padding)); /** Fixed height for curved connector */
          border: 2px solid; 
          border-radius: 6px 0 0 0;
          border-right: none;
          border-bottom: none;
          border-color: var(--neutral-04);
          background-color: var(--grey);
          z-index: 0;
        }

        li {
          position: relative;          
          counter-increment: subListCounter;

          &:last-child {
            padding-bottom: 0;

            &::after{
              content: "";
              position: absolute;
              left: 2px;
              top: 0;
              width: var(--connector-curve-box-width);
              height: var(--connector-bottom-right-curve-height); 
              border: 2px solid; 
              border-radius: 0 0 6px 0;
              border-left: none;
              border-top: none;
              border-color: var(--neutral-04);
              background-color: var(--grey);
              z-index: 0;
            }
          }

          &.active {
            &::after{
              content: "";
              position: absolute;
              left: var(--connector-curve-box-width);
              top: 18px;
              width: 2px;
              height: 100%;        
              background-color: var(--neutral-04);
              z-index: 0;
            }
            h4 {
              font-weight: 700;
            }
          }

          h4 {
            padding-left: 5px;
            font-weight: 400;
            font-size: var(--font-size-default);

            &::before{
              content: counter(listCounter) '.' counter(subListCounter) '. ';
            }

            a {
              color: var(--black);
              text-decoration: none;
            }
          }
        }        
      }
    }
  }
}
/* ###### Lesson Navigator Styles End ############*/

/* #################################################*/
/* ############### Content Styles Start ############*/
/* #################################################*/
.mainWrapper {
  position: relative;
  background-color: var(--grey);
  padding-top: var(--main-content-padding-top);  
}

.content {
  grid-column: span 9;

  @media (--small) {
    grid-column: span 12;
  }

  @media (--x-large) {
    padding-left: 152px;
    grid-column: span 12;
  }

  @media (--xx-large) {
    padding-left: 0px;
  }

  &Wrapper {
    h1 {
      font-size: 2.8em;
      line-height: var(--line-height);
      font-weight: 700;
      padding: 8px 0 3px 0;
    }

    h2{
      font-size: 2.5em;
      font-weight: 700;
      padding-top: 0.8em;
      padding-bottom: 0.4em;
    }

    small {
      @include extraInfo;
    }

    h3, p, ul, ol {
      font-family: var(--font-serif);
      line-height: 1.8;
    }

    p {
      text-align: justify;
    }

    ol {
      padding-top: 0.7em;
      padding-bottom: 2em;
      counter-reset: contentListCounter 0;     

      li {
        @include flex;
        padding-left: 0.2em;
        counter-increment: contentListCounter;

        &::before {
          content: counter(contentListCounter) '.';
          padding-right: 0.4em;
        }
      }
    }
  }

  /* Quiz Styles*/
  .quiz {
    &Question {
      padding-bottom: 4em;

      h3 {
        font-size: 1.5em;
        font-weight: 700;
        padding-bottom: 0.8em;
      }

      &Header {
        &--title {
          font-family: var(--font-serif);
          padding-bottom: 0.4em;
        }

        small {
          @include extraInfo;
        }
      }

      button {
        margin-top: 0.8em;
        padding: 12px 24px;
        border-radius: 8px;
        border: solid 1px var(--neutral-04);
        background-color: #ececec;
        cursor: pointer;

        @media (--small) {
          width: 100%;
        }

        &:not([disabled]) {
          background-color: var(--brand-01);
          color: var(--neutral-01);
          box-shadow: var(--button-box-shadow);
        }

        &.submitted {
          background-color: var(--accent-01);
          box-shadow: var(--button-submitted-box-shadow);
        }
      }
    }
  }

  .pagination {
    @include flex;
    justify-content: space-between;
    border-top: 1px solid var(--neutral-04);
    padding: 0.8em 0 2.4em 0;

    a {
      display: block;
      padding: 0.75em 1.6em;
      border-radius: 8px;
      border: solid 1px var(--black);
      color: var(--black);
      text-decoration: none;
    }
  }  
}
/* ############### Content Styles End ############*/

/* ############################################*/
/* ########## Footer Styles Start ############*/
/* ###########################################*/
footer {
  background-color: var(--black);

  ul {
    li {
      padding: 8px 0;
      a {
        font-size: 0.8em;
        text-decoration: none;
        color: #ececee;
        will-change: opacity;

        &:active,
        &:focus,
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
/* ########## Footer Styles End ############*/

/* ############################################*/
/* ########## Other Styles Start ############*/
/* ###########################################*/
.skip_lnk {
  position: absolute;
  padding: 0.2rem 0.7rem;
  color: #fff;
  background-color: #3B2D4A;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  z-index: 10;
  will-change: transform; 
  transform: translate3d(.125rem, -5rem, 0);
  transition: transform .3s ease-out;

  &:focus {
    transform: translate3d(.125rem, .125rem, 0);
    outline: #fff solid .125rem;
  }
}
/* ########## Other Styles End ############*/