:root {
  --font-size-default: 18px;
  --font-serif: 'Merriweather', georgia, serif;
  --font-sans-serif: 'Source Sans Pro', arial, sans-serif;
  --font-monospace: 'Source Code Pro', monospace;  
  --neutral-04: #bcbcbc;
  --accent-01: #457205;
  --neutral-06: #2b2b2b;
  --brand-02: #0d6fb4;
  --neutral-01: #ffffff;
  --neutral-05: #6a6a6a;
  --brand-01: #009cde;
  box-sizing: border-box;

  @media (max-width: 767px) {
    --font-size-default: 16px;
  }

  font-size: var(--font-size-default);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-sans-serif);
  font-size: var(--font-sans-default);
  margin: 0;
  padding: 0;
  
  @media (max-width: 767px) {
      font-size: 16px;
  }
}

/* Primary Navigation */
header {
  margin: 0.8em 0;
}
header nav ul {
  display: flex;
  flex-direction: row;  
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;  

  li {
    display: inline-block;
    padding: 0 0.8em;

    @media (max-width: 767px) {
      
      padding-left: 0;
    }

    &:not(:first-child) {
      @media (max-width: 767px) {
        display: none;
      }
    }

    a {
      display: block;
      text-decoration: none;
    }  

    
  }
}

/*Lesson Navigator*/
.showLessonNavigator {
  display: none;

  @media (max-width: 767px) {
    display: block;
    grid-column: span 12;
  }
}

.hideLessonNavigator {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

aside {
  grid-column: span 3;

  @media (max-width: 767px) {
    position: absolute;
    grid-column: span 12;
    width: 100%;
    height: 100%;
    transform: translateX(-110%);
    transition: all 0.5s ease-in;
    background-color: white;

    &.show{
      transform: translateX(0);
      transition: all 0.5s ease-out;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: listCounter -1;
    
    > li {
      counter-increment: listCounter;
      display: grid;
      grid-template-columns: 18px 1fr;
      grid-template-rows: max-content;
      padding-bottom: 0.8em;
      line-height: 1.2;

      &.optional {
        &::before {
          border-style: dashed;
        }
      }

      &:before{
        display: block;
        content: '';
        
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 2px solid var(--neutral-04);
        cursor: pointer;
      }
      
      h3 {
        flex-basis: auto;
        padding-left: 5px;
        margin: 0;

        button {
          display: flex;
          border: none;
          background: none;
          text-align: left;
          font-size: var(--font-size-default);

          &:before {
            padding-right: 5px;
            content: counter(listCounter) '. ';
          }
        }
      }

      ul {
        grid-column: span 2;
      }
    }
  }
}


/* Content Styles*/
.content {
  grid-column: span 9;

  @media (max-width: 767px) {
    grid-column: span 12;
  }
}